<div data-role="view" id="buddies-view" data-id="buddies-view"
     data-layout="main-layout" data-title="Buddies"
     data-show="app.buddies.init">
    <div id="buddies-holder">
        <select id="buddies-list" data-role="dropdownlist"
                data-bind="source: categories, events: { change: change}"
                data-text-field="Name"
                data-value-field="Id">
        </select>
        <div id="buddy-info">
            <h1 data-bind="text: nickname" data-align="center"></h1>            
            <ul data-role="listview" data-bind="source: isOnline" data-template="buddies-template"></ul>                
        </div>
    </div>
</div>
